.react-codemirror2 {
  height: calc(100% - 34px);
}
.react-codemirror2 > .CodeMirror {
  height: 100%;
}
.react-codemirror2 > .CodeMirror pre.CodeMirror-placeholder {
  color: #546e7a;
}

.react-codemirror2 > .CodeMirror span.CodeMirror-foldmarker {
  color: white;
}
